@import "tailwindcss";

:root {
  /* Forced Dark Mode - The "Afterword" Aesthetic */
  --background: #050505;
  /* Blacker than black, but not #000 */
  --foreground: #f0f0f0;
  /* Ghostly white */
  --primary: #9f1239;
  /* Deep, blood crimson */
  --primary-foreground: #ffffff;
  --muted: #171717;
  /* Subtle distinct dark gray */
  --muted-foreground: #737373;
  --border: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-inter);

  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}